.cart-page {
  padding: 20px;
  background: fixed;
  background-color: #f1f1f1;
  height: 100% auto;

}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.btn-cart {
  background-color: #3A3E6C;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-head {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 32px;
  font-weight: bold;
  color: #3A3E6C;
  margin: 0 auto;
}

.buy-container {
  padding: 10px;
}

ion-col {
  padding: 4px;
}

.buy-card {

  border-radius: 10px;
  padding: 8px;
  position: relative;
  transition: transform 0.2s ease-in-out;
  background-color: #ddd;

}

.buy-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buy-card:hover {
  transform: scale(1.02);
}

.buy-card-details {
  font-weight: bold;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  width: 100%;
  color: #3A3E6C;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.description {
  font-size: 12px;
  line-height: normal;

}

.subtotal {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: #3A3E6C;
  text-align: center;
  border-top: #3A3E6C solid 2px;
  padding-top: 15px;
  margin-bottom: -1px;
  font-weight: bold;
}

.buy-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 12px;

}


.quantity-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: baseline;
  margin-bottom: -20px;
  margin-top: -20px;
}

.quantity {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: #3A3E6C;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.id-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.id-btn {
  background: none;
  color: #3A3E6C;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-btn {
  position: absolute;
  top: -13px;
  right: -5px;
  background: transparent;
  border: none;
  color: red;
  font-size: 22px;
  cursor: pointer;
}


.card-total {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}



.total {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  font-weight: bold;
  color: #3A3E6C;
}

.checkout-btn {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3A3E6C;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.empty-msg {
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  text-align: center;

}

.expanded-card {
  padding: 15px;
  border: 0px solid;
  animation: fadeIn 0.3s ease-in-out;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #a1a09f;
}

.expanded-name {
  text-align: center;
  font-weight: bold;
  color: #3A3E6C;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.expanded-details {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #3A3E6C;
}

.close-expanded-btn {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  padding: 10px;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  background-color: #ff5c5c;
  color: white;
  border: none;
  cursor: pointer;

}


.expanded-img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-top: 10px;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  .cart-page {
    padding: 0;
  }
  .buy-container {
    padding: 0;
  }

  .checkout-head {
    font-size: 28px;
  }

  .buy-card {
    padding: 12px;
    border-radius: 8px;
  }
.buy-data {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .buy-card-details {
    font-size: 16px;
    line-height: 1.6;
  }
.price-size{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .buy-img {
    height: 180px;
  }
.quantity-controls{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 1px;
  }
  .description {
    font-size: 14px;
  }
  .id-btn {
    font-size: 16px;
  }
  .subtotal {
    font-size: 16px;
    border-top: 1px solid #3A3E6C;
    padding-top: 10px;
  }
  .card-total {
    align-items: center;
  }
  .total {
    font-size: 20px;
}
  .quantity {
    margin-bottom: 15px;
  }

  .checkout-btn {
    width: auto;
    font-size: 18px;
    padding: 10px;
  }

}

@media screen and (max-width: 992px) {
  .cart-page {
    padding: 0;

  }
  .buy-container {
    padding: 0;
  }
  .checkout-head {
    font-size: 26px;
  }

  .buy-card {
    padding: 12px;
    border-radius: 8px;
  }
.buy-data{
    flex-direction: column;
    align-items: center;
    text-align: center
}
.price-size{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .buy-card-details {
    font-size: 16px;
    line-height: 1.5;
  }

  .buy-img {
    height: 180px;
  }
.quantity-controls{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 1px;
  }
  .description {
    font-size: 14px;
  }
  .id-btn {
    font-size: 16px;
  }
  .subtotal {
    font-size: 16px;
    border-top: 1px solid #3A3E6C;
    padding-top: 10px;
  }
  .card-total {
    align-items: center;
  }
  .total {
    font-size: 20px;
}
  .quantity {
    margin-bottom: 15px;
  }

  .checkout-btn {
    width: auto;
    font-size: 18px;
    padding: 10px;
  }

}

@media screen and (max-width: 768px) {
  .cart-page {
    padding: 0;
  }

  .checkout-head {
    font-size: 24px;
  }

  .buy-card {
    padding: 10px;
    border-radius: 8px;
  }
.buy-data {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .buy-card-details {
    font-size: 16px;
    line-height: 1.5;
  }

  .buy-img {
    height: 150px;
  }
  .price-size{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .description {
    font-size: 14px;
  }
.quantity-controls{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 1px;
}
  .quantity {
    margin-bottom: 10px;
    font-size: 16px;
  }
.id-btn{
    font-size: 16px;
  }
  .subtotal{
    font-size: 16px;
    border-top: 1px solid #3A3E6C;
    padding-top: 10px;
  }
  .card-total{
    flex-direction: column;
    align-items: center;
  }
  .total {
    font-size: 20px;
}
  .checkout-btn {
    width: 100%;
    font-size: 18px;
    padding: 8px;
  }

}

@media screen and (max-width: 576px) {
  .cart-page {
    padding: 0;
  }
  .buy-container{
    padding: 0;
  }

  .checkout-head {
    font-size: 22px;
  }

  .buy-card {
    padding: 8px;
    border-radius: 8px;
  }
.buy-data {
    flex-direction: column;
    align-items: center;
  }

  .buy-card-details {
    font-size: 11px;
    text-align: center;
  }
.price-size{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
  .buy-img {
    height: 120px;
  }

  .description {
    font-size: 12px;
  }
.quantity-controls {
    display: flex;
    align-items: baseline;
    justify-content: center;
    
  }
  .subtotal{
    font-size: 13px;
    border-top: 1px solid #3A3E6C;
    padding-top: 10px;
  }
  .quantity {
    margin-bottom: 5px;
    font-size: 10px;
  }
  .id-btn{
    font-size: 10px;
  }

  .card-total{
    flex-direction: column;
    align-items: center;
  }
  .total {
    font-size: 18px;
  }

}

@media screen and (max-width: 360px) {
  .cart-page {
    padding: 0;
  }
  
  .back-btn{
    font-size: 14px;
    padding: 4px 8px;
    margin-bottom: 10px;
  }
  .btn-cart {
    font-size: 18px;
    padding: 6px 12px;
  }
  .checkout-head {
    font-size: 20px;
  }

  .buy-card {
    padding: 6px;
    border-radius: 8px;
  }

  .buy-data {
    display: flex;
    flex-direction: column;
  }

  .buy-card-details {
    font-size: 10px;
    text-align: center;
  }

  .buy-img {
    object-fit: contain;
  }

  .description {
    font-size: 12px;
  }
.quantity-controls{
  display: flex;
  align-items: baseline;

}
  .quantity {
    margin-bottom: 5px;
    font-size: 10px;
  }
  .id-btn {
    font-size: 10px;
  }
  .subtotal{
    font-size: 13px;
    border-top: 1px solid #3A3E6C;
    padding-top: 10px;
  }
  .card-total{
    flex-direction: column;
    align-items: center;
  }
  .price-size{
    display: flex;
    justify-content: space-around;
  }
  .total {
    font-size: 18px;
  }
}