.card{
    width: 250px;
    border: 2px solid ;
   
}
.card img{
    padding-left: 10px;
    
}
.card .data{
    display: flex;
    justify-content: space-around;
}
.card .details{
    display: flex;
    justify-content: space-around;

}
.data{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.rate{
    color: rgb(248, 244, 5);
}