
/*OverAll Page*/
.page-product {
    padding: 40px;
    background: linear-gradient(150deg, #002642 0%, #00a698 40%, #ffffff 100%);
}
.product-head{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    font-weight: bold;
    color: #002642;
    text-shadow: 0 0 2px #00a698;
}

.col-card{
    overflow-y: scroll;
    height: 750px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #002642; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #002642; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
     
  } */
/* Card Styling */
.product-card,
.card-search,
.card-range,
.card-filter,
.card-size {
    text-align: center;
    transition: transform 0.3s ease-in-out;
    
}
.product-card:hover,
.card-search:hover,
.card-range:hover,
.card-filter:hover,
.card-size:hover{
    box-shadow: none;
    
}
/*Product Card*/
.product-card{
    animation-name: move;
    animation-duration: 2s;
    box-shadow: 0 0 25px #002642;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    margin: 15px 0;
    
}
/* @keyframes move {
    from{
        top: -60px;
        opacity: 0.2;
   }
   to{
       opacity: 1;
       top: 0px;
   }
    
} */
.product-card:hover {
    transform: translateY(-5px);
}

.product-image{
    height: 300px;
    
}

.product-data {
    display: flex;
    justify-content: space-between;
    
}


.product-title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #002642;
}


.product-price {
    font-size: 1.8rem;
    font-weight: bold;
    color: #002642;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.product-category {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: start;
    color: #ffffff;
    text-shadow: 0 0 10px #002642;
}


.rate-buy {
    display: flex;
    justify-content: space-between;
}


.ratings {
    color: gold;
    margin: 5px 0;
}


.btn-buy {
    color: #00a698;
    background-color: #002642;
    border-radius: 10px;
    width: 130px !important;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}
.btn-buy:hover{
    background-color: #00a698;
    color: #002642;
}.card-wrapper {
    position: relative;
  }
  
  .google-lens-button {
    
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .google-lens-icon {
    font-size: 1.5rem;
    color: #00a698; /* Adjust color as needed */
  }
  
/*Product Card Ends*/

/* Sidebar Filters Starts*/
.sidebar {
    padding: 15px;
    border-radius: 8px;
}

/* Search Card */
.card-search {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    margin: 15px 0;
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 0 0 20px #002642;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
}

/* Search Input */
.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

/* Search Button */
.search-button {
    color: #00a698;
    background-color: #002642;
    border-radius: 10px;
    padding: 14px;
    cursor: pointer;
}
.search-button:hover{
    color: #002642;
    background-color: #00a698;
}
/* Price Range Card */
.card-range {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    margin: 35px 0;
    padding: 20px 30px;
    border-radius: 1rem;
    box-shadow: 0 0 20px #002642;
}

/* Range Title */
.range-title {
    text-align: center;
    color: #002642;
    font-weight: 700;
    margin-bottom: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Range Values */
.range-values {
    display: flex;
    justify-content: space-around;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #00a698;
    font-weight: 700;
}

/* Filter Section */
.filter-section {
    margin-top: 35px;
}
/*Category-Card*/
.card-filter{
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    margin: 15px 0;
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 0 0 20px #002642;
}
/* Category Title */
.filter-title {
    text-align: center;
    color: #002642;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
}

/* Category Checkbox */
.filter-checkbox ul
{
    list-style: none;
    
    
}
.left-align{
    padding-left: 80px;
    text-align: left;
}
.filter-checkbox ul li
{
    padding-right: 35px;
}



/* Checkbox Styling */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

/* Custom Checkmark */
input[type="checkbox"]::after {
    content: "✔";
    font-size: 16px;
    color: #002642;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%) scale(0);
    transition: transform 0.2s ease-in-out;
}

/* Checkbox Checked */
input[type="checkbox"]:checked {
    background: #00a698;
}

input[type="checkbox"]:checked::after {
    transform: translate(-50%, -50%) scale(1);
}

/* Labels */
label {
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #00a698;
    font-weight: 700;
}

/* Apply Filter Button */
.apply-filter-button {
    color: #00a698;
    background-color:#002642;
    border: 2px solid transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
    min-width: 9.25rem;
    border-radius: 0.9rem;
    padding: 0.75rem 2.5rem;
    white-space: nowrap;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.apply-filter-button:hover{
    box-shadow: none;
    color: #002642;
    background-color: #00a698;

}


/*Responsive*/
/*Desktop*/

@media screen and (max-width: 1580px) {
    .btn-buy {
        width: 120px;
    }
}

/*Tablets*/
@media only screen and (max-width: 1200px) {
    .page-product {
        padding: 10px;
    }
    /* .product-category {
        text-align: center !important;
    } */
    .product-head{
        color: #00a698;
        text-shadow: 0 0 2px #002642;
    }
}
/*Mobiles*/
@media screen and (max-width: 768px) {
    .product-data {
        flex-direction: column;
        align-items: center;
    }

    .rate-buy {
        flex-direction: column;
        align-items: center;
    }
    .product-head{
        color: #00a698;
        text-shadow: 0 0 2px #002642;
        font-size: 30px;
    }
}
