
.order-title {
  color: #0B2E33;
  font-size: 45px;
  font-family: "Oleo Script Swash Caps", system-ui;
}

.segment-container {
  --background: #93B1B5;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

.seg-btn {
  --color: #0B2E33;
  --indicator-color: none;
  --background-checked: #4F7C82;
  --color-checked: #fff;
  /* font-weight: 700; */
  text-transform: capitalize;
  /* padding: 0.5rem 1rem; */
  border-radius: 6px;
}

.seg-label {
  font-size: 20px;
  letter-spacing: 0.5px;
  font-family: "Bigshot One", serif;
}


.table-wrapper {
  /* margin-top: 10px; */
  overflow-x: scroll;
  overflow-y: scroll;
  scrollbar-width: auto;
  scrollbar-color: #4F7C82 #93B1B5;
  max-height: 400px;
}


.table-wrapper::-webkit-scrollbar {
  height: 8px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #93B1B5;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #93B1B5;
}


.admin-head {
  text-align: center;
  font-size: 30px;
  font-family: "Bigshot One", serif;
  color: #0B2E33;
}
.orders-table th{
  background-color: #4F7C82 !important;
  border-bottom: none !important;
  /* color: #0B2E33 !important; */
  
}
.orders-table th,
.table-row td {
  margin: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  vertical-align: middle !important;
  text-align: center !important;
}

.order-status-approved {
  color: rgb(6, 177, 6) !important;
  font-weight: 700;
}

.order-status-pending {
  color: rgb(226, 3, 3);
  font-weight: 700;
}

.approve-btn {
  background-color: rgb(6, 177, 6);
  padding: 10px;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.orders-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px !important;
  min-width: 900px;
  /* margin-bottom: 40px; */
  font-family: 'Open Sans', sans-serif;
}

.customer-address {
  width: 250px;
  min-width: 250px;
  white-space: pre-wrap;
  /* ensures line breaks show */
  word-wrap: break-word;

}

.view-btn {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #0B2E33;
  color: #93B1B5;
  font-weight: 700;
}
.delivery-btn{
  padding: 10px;
  border-radius: 10px;
  background-color: #93B1B5;
  color: #0B2E33;
  font-size: 20px;
  font-weight: bold;
}
.orders-table th,
.orders-table td {
  padding: 18px 25px;
  text-align: left;
  white-space: nowrap;
}

.orders-table thead th {
  /* background: linear-gradient(90deg, var(--primary-purple) 0%, var(--secondary-purple) 100%); */

  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.95rem;
  letter-spacing: 1px;
  /* border-bottom: 2px solid var(--secondary-purple); */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.orders-table thead tr th:first-child {
  border-top-left-radius: 12px;
}

.orders-table thead tr th:last-child {
  border-top-right-radius: 12px;
}

.orders-table tbody tr {
  /* background-color: var(--card-bg); */
  /* transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease; */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.orders-table tbody tr:hover {
  background-color: #f5e6ff;
  /* Light purple hover */
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.orders-table td {
  /* border-bottom: 1px solid var(--border); */
  background-color: #d9dddd;
  color: #0B2E33;
}

/* No products found message */
.orders-table .no-products {
  text-align: center;
  /* color: var(--light-text); */
  padding: 20px;
  font-style: italic;
  /* background-color: var(--card-bg); */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width:450px){
  
  .order-title{
    font-size: 30px;
    text-align: center;
  }
  .seg-label{
    font-size: 12px;
  }
  .admin-head{
    font-size: 20px;
  }
  .orders-table thead th{
    font-size: 13px;
  }
  .view-btn{
    padding: 10px;
    font-size: 15px;
  }
  .approve-btn{
    font-size: 15px;
  }
  .delivery-btn{
    font-size: 15px;
  }
}

