
.no-scroll #main-content {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
  height: 100vh;
}
.body-no-scroll {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

ion-app{
    overflow-y: auto;
}
/* Works in Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track (the area behind the scrollbar thumb) */
  ::-webkit-scrollbar-track {
    /* background: #f1f1f100; */
    border-radius: 10px;
  }
  
  /* Handle (the draggable part) */
  ::-webkit-scrollbar-thumb {
    /* background: #88888800; */
    border-radius: 10px;
  }
  
  